@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

		<h2>Suma de dos números</h2>

        <label>Numero 1:</label>
        <input type="number" id="in1" />
        <label>Numero 2:</label>
        <input type="number" id="in2" />

        <button id="btnSuma">Sumar</button>
        <br />
        <label>Resultado:</label>
        <input disabled id="resultado" />
    </div>
